Repository edazpotato/Micro, pull requests merged in 2021-09, with the labels that each got.

#3 add sass as a dependency
  frontend/package.json
  frontend/pnpm-lock.yaml
Labels: frontend

#8 [Backend] Run tests without .env
  .github/workflows/backend.yml
  backend/src/database.ts
  backend/src/index.ts
Labels: enhancement, backend

#4 [Frontend] Add global selection color & "text" attribute to buttons
  frontend/src/components/Button.tsx
  frontend/src/stories/Button.stories.tsx
  frontend/src/styles/globals.scss
Labels: enhancement, frontend
